* header{
    background-color: black;
    color:white;
    font-size: 58pt;
    padding-left: 15px;

}

* li a{
    text-decoration: none;
    color:black;
    font-size: 34pt;
    padding: 0;
    background-color: #fff;
    



}
* ol{
    
    padding-right: 2%;
    font-size: 34pt;
    padding-left: 5%;
    counter-reset: myOrderedListItemsCounter;
    
    

}
* li::before{
    background-color: white;
    font-size: 34pt;
}
    


* li{
    padding-top: 4%;
    
    
}
ol li {
    list-style-type: none;
    position: relative;}
ol li:before {
        counter-increment: myOrderedListItemsCounter;
        content: counter(myOrderedListItemsCounter)".";
        padding-right: 20px;
      }


* {
    margin: 0;
}
* section{
    padding-bottom: 40px;
    width: 100%;
}

#novS{
    background-color: #fff;
    background-image: url("assets/637575506910470000.jpeg");
    background-repeat: no-repeat;
    background-size: cover;

    height: 100px;
    width: 100%;

}
#decS{
    background-color: #fff;
    background-image: url("assets/citylocal.jpeg");
    background-repeat: no-repeat;
    background-size: cover;

    height: 100px;
    width: 100%;

}
#janS{
    background-color: #fff;
    background-image: url("assets/unnamed2.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;

}